.card--pelicula{
    display: flex;
    flex-direction: column;  
    margin: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    align-items: center;
    box-shadow: 5px 5px 2px 1px rgba(28, 28, 28, 0.4);
}
.card--img {
    height: 360px;
    width: 250px;
}
.card--title {
    font-weight: 600;
    margin: 15px;
}
.pelicula--container{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 450px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1px;
    border: 1px solid #333;
}
.pelicula--detalle{
    display: flex;
    flex-direction: column;
    padding: 20px;
}