.lista-peliculas {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
    justify-content: center;
}
.sin--resultado {
    justify-content: center;
}
.error--container{
    font-size: xx-large;
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}